USE [dhlalmacen]
GO
/****** Object:  StoredProcedure [dbo].[eliminar_entradaactivos]    Script Date: 04/11/2021 21:03:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[eliminar_entradaactivos]    
@p_identradaact char(10)  
as  
Declare 
@iddetentrada int  
Declare @idactivo int,
@cant int;
begin    
   
	DECLARE JCUR_regresarStock  
	CURSOR FOR select idActivos,ncantidad from almacen.detentradaActivos where idEntradaActivos in (
	select idEntradaActivos from almacen.entradaActivos where vFacturaComp='' and (nPrecioTotal is null or nSubtotal is null))

	OPEN JCUR_regresarStock 
	FETCH NEXT FROM JCUR_regresarStock INTO @idactivo ,@cant

	WHILE @@fetch_status = 0
		BEGIN
			UPDATE activos SET nStock=nStock-@cant, disponible=0   where idActivos=@idactivo
			FETCH NEXT FROM JCUR_regresarStock INTO @idactivo ,@cant
		END
	CLOSE JCUR_regresarStock
	DEALLOCATE JCUR_regresarStock



	delete from almacen.detentradaActivos where idEntradaActivos in (
	select idEntradaActivos from almacen.entradaActivos where vFacturaComp='' and (nPrecioTotal is null or nSubtotal is null))

	delete from almacen.entradaActivos where vFacturaComp='' and (nPrecioTotal is null or nSubtotal is null)


if @p_identradaact!='' 
begin
	DECLARE JCUR_actualizar_stock  
	CURSOR FOR SELECT idActivos,ncantidad FROM almacen.detentradaActivos where idEntradaActivos=@p_identradaact and vEstado=1

	OPEN JCUR_actualizar_stock 
	FETCH NEXT FROM JCUR_actualizar_stock INTO @idactivo ,@cant

	WHILE @@fetch_status = 0
		BEGIN
			UPDATE activos SET nStock=nStock-@cant, disponible=0   where idActivos=@idactivo
			FETCH NEXT FROM JCUR_actualizar_stock INTO @idactivo ,@cant
		END
	CLOSE JCUR_actualizar_stock
	DEALLOCATE JCUR_actualizar_stock

update almacen.detentradaActivos set vEstado='0' where idEntradaActivos=@p_identradaact and vEstado <>4;
update almacen.entradaActivos set vEstado='0' where idEntradaActivos=@p_identradaact;

end
select @p_identradaact as identradamat;
 end


--select * from  almacen.detentradamat

