USE [dhlalmacen]
GO
/****** Object:  StoredProcedure [almacen].[salida_stockstadoACTIVOSeliminar]    Script Date: 04/11/2021 21:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [almacen].[salida_stockstadoACTIVOSeliminar]
@p_idmaterial integer,
@p_idDetSalida integer
as    
Declare @idprod as Integer
Declare @cant as Integer
begin    

if @p_idDetSalida>0
begin
		select  @cant=nCantidad from almacen.detSalidaActivos where idDetSalidaActivo=@p_idDetSalida;
		
		update almacen.detSalidaActivos set vEstado=5 where idDetSalidaActivo=@p_idDetSalida;
		 UPDATE activos SET nStock=nStock+@cant, disponible=1 WHERE idActivos= @p_idmaterial;
		 select 'ok' as rpta,'Correcto' as msg;


end 

end

