USE [dhlalmacen]
GO
/****** Object:  StoredProcedure [dbo].[copiar_cotizacion]    Script Date: 04/11/2021 21:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER proc [dbo].[copiar_cotizacion]    
@p_idcotiz char(10)  
as    
Declare 
@v_idncotiz varchar(20),
@v_iddetcotiz varchar(20),
@v_ntasa float
begin    

select top 1 @v_ntasa=ntasa from tasacambio order by dFecha desc

	select @v_idncotiz = coalesce(max(idCotiz),0)+1 --right(replicate('0',10) + cast(isnull(max(idCotiz), 0) + 1  as varchar(10)),10)    
	from compras.cotizacion;
	insert into compras.cotizacion (idCotiz,vnroCot,dfecCot,idCliente,idPersonal,nSubTot,nIgv,nTotal,vEstado,vUsernm,vHostnm,dFecReg,nTipoMoneda,nTasaCambio,vClienteTecnico,tiempEntrega,vGarantia,vMotivo,vFormaPago,vNota,vDisco,Estado)
	select @v_idncotiz,'',GETDATE(),idCliente,idPersonal,0,0,0,null,vUsernm,vHostnm,GETDATE(),nTipoMoneda
	,@v_ntasa  --nTasaCambio
	,vClienteTecnico,tiempEntrega,vGarantia,vMotivo,vFormaPago,vNota,vDisco,Estado from compras.cotizacion where idCotiz=@p_idcotiz

	
	
DECLARE @Cantidad as int
Declare @tipoPS int
Declare @idProdServ int
Declare @idMaterial int
Declare @idDetCotiz int
Declare @tipoMonedaCotiz int
Declare @tipoMonedaProdMat int
Declare @costoProdMat float
Declare @costoNuevo float
DECLARE JCUR_actualizar_stock 
	CURSOR FOR select nCantidad,tipoPS,idProdServ,idMaterial,idDetCotiz from compras.detCotizacion
	where idCotiz= @p_idcotiz
 
	OPEN JCUR_actualizar_stock 
	FETCH NEXT FROM JCUR_actualizar_stock INTO @Cantidad ,@tipoPS,@idProdServ,@idMaterial,@idDetCotiz
			
			--Tipo de Moneda de la Cotizacion
			select @tipoMonedaCotiz=nTipoMoneda from compras.cotizacion where  idCotiz= @p_idcotiz
			
	WHILE @@fetch_status = 0
		BEGIN
			set @tipoMonedaProdMat=0;
			set @costoProdMat=0;	
			--Obtener el tipode moneda y el costo de materiales o productos
			if @tipoPS=1 
				begin
					Select @tipoMonedaProdMat=idTipoMon
							,@costoProdMat=nCosto from producto 
													where idProducto=@idProdServ
				end
			else if @tipoPS=2 and @idMaterial is not null
				begin
					select @tipoMonedaProdMat=coalesce(idTipoMon,0)
							,@costoProdMat=coalesce(nCosto,0) from material 
																where idMaterial=@idMaterial
				end
			
			--Si el tipo de moneda es 0 o si es MATERIAL se inserta igual 
				if @tipoMonedaProdMat =0 or (@tipoPS=2 and @idMaterial is not null) 
					begin
							select @v_iddetcotiz = coalesce(max(idDetCotiz),0)  
							from compras.detCotizacion;
							
							insert into compras.detCotizacion (idDetCotiz,idCotiz,nOrden,vNombrePSM,vDescrip,nPrecUnit,nCantidad,nPrecTotal,vEstado,vUsernm,vHostnm,dFecReg,nDescuento,idProdServ,tipoPS,opcional,idMaterial,idServPadre)
							select @v_iddetcotiz+ROW_NUMBER() over (order by iddetcotiz), @v_idncotiz,nOrden,vNombrePSM,vDescrip
							,nPrecUnit,nCantidad 
							, nPrecTotal,
							vEstado,vUsernm,vHostnm,dFecReg,nDescuento,idProdServ,
							tipoPS,opcional,idMaterial
							,case when tipoPS='2' and idMaterial is null then idDetCotiz else idServPadre end as idServPadre  
							from compras.detCotizacion
							where idDetCotiz= @idDetCotiz;
					end
					
				--Cuando es el mismo tipo de Moneda con la cotizacion entonces se actualiza el precio (Si es producto con el mismo tipo de moneda
				else if @tipoMonedaProdMat=@tipoMonedaCotiz
				begin
						select @v_iddetcotiz = coalesce(max(idDetCotiz),0)  
							from compras.detCotizacion;
							
							insert into compras.detCotizacion (idDetCotiz,idCotiz,nOrden,vNombrePSM,vDescrip,nPrecUnit,nCantidad,nPrecTotal,vEstado,vUsernm,vHostnm,dFecReg,nDescuento,idProdServ,tipoPS,opcional,idMaterial,idServPadre)
							select @v_iddetcotiz+ROW_NUMBER() over (order by iddetcotiz), @v_idncotiz,nOrden,vNombrePSM,vDescrip
							,@costoProdMat as nPrecUnit,nCantidad /*Se actualiza con el precio del producto*/
							,@costoProdMat * nCantidad  as nPrecTotal,
							vEstado,vUsernm,vHostnm,dFecReg,nDescuento,idProdServ,
							tipoPS,opcional,idMaterial,idServPadre 
							from compras.detCotizacion
							where idDetCotiz= @idDetCotiz;
				end
				
				--Si el tipo de moneda es diferente se actualiza el precio y se calcula
				else if @tipoMonedaProdMat!= @tipoMonedaCotiz
					begin
						if @tipoMonedaProdMat=1 
							begin
								set @costoNuevo=@costoProdMat*@v_ntasa
							end
						else
							begin
								set @costoNuevo=@costoProdMat/@v_ntasa
							end
							select @v_iddetcotiz = coalesce(max(idDetCotiz),0)  
							from compras.detCotizacion;
							
							insert into compras.detCotizacion (idDetCotiz,idCotiz,nOrden,vNombrePSM,vDescrip,nPrecUnit,nCantidad,nPrecTotal,vEstado,vUsernm,vHostnm,dFecReg,nDescuento,idProdServ,tipoPS,opcional,idMaterial,idServPadre)
							select @v_iddetcotiz+ROW_NUMBER() over (order by iddetcotiz), @v_idncotiz,nOrden,vNombrePSM,vDescrip
							,@costoNuevo nPrecUnit,nCantidad
							,@costoNuevo*nCantidad nPrecTotal
							,vEstado,vUsernm,vHostnm,dFecReg,nDescuento,idProdServ,
							tipoPS,opcional,idMaterial,idServPadre from compras.detCotizacion
							where idDetCotiz= @idDetCotiz;
					end
			
			FETCH NEXT FROM JCUR_actualizar_stock INTO @Cantidad ,@tipoPS,@idProdServ,@idMaterial,@idDetCotiz
		END
	CLOSE JCUR_actualizar_stock
	DEALLOCATE JCUR_actualizar_stock

--Actualizando el servicio padre de los materiales
DECLARE @idDetCotizXY as int
Declare @idServiciopadreXY int

DECLARE JCUR_actualizar_servicioPadre
	CURSOR FOR select idDetCotiz,idServPadre from compras.detCotizacion 
	where tipoPS='2' and idMaterial is null and idCotiz=@v_idncotiz
 
	OPEN JCUR_actualizar_servicioPadre 
	FETCH NEXT FROM JCUR_actualizar_servicioPadre INTO @idDetCotizXY ,@idServiciopadreXY
	WHILE @@fetch_status = 0
		BEGIN
				--actualizar el servicio padre
				update compras.detCotizacion set idServPadre=@idDetCotizXY 
				where tipoPS='2' and idServPadre=@idServiciopadreXY and idCotiz=@v_idncotiz 
				and idMaterial is not null;
				
				--quitar el servicio padre al Servicio
				update compras.detCotizacion set idServPadre=null  where idDetCotiz=@idDetCotizXY
							
			FETCH NEXT FROM JCUR_actualizar_servicioPadre INTO @idDetCotizXY ,@idServiciopadreXY
		END
	CLOSE JCUR_actualizar_servicioPadre
	DEALLOCATE JCUR_actualizar_servicioPadre




--Actualizando los totales de la Nueva Cotizacion
		update a set nSubTot=b.subtotal, nIgv=b.IGV,nTotal=b.total 
		from compras.cotizacion a inner join (
					select SUM(nPrecTotal) total,
					convert(numeric(10,2),SUM(nPrecTotal)/1.18) subtotal,
					SUM(nPrecTotal)-convert(numeric(10,2),SUM(nPrecTotal)/1.18) IGV,
					idCotiz 
					from compras.detCotizacion 
					  where idCotiz= @v_idncotiz and vEstado=1 and opcional=0 
					  group by idCotiz) b
		on a.idCotiz = b.idCotiz
		where a.idCotiz=@v_idncotiz

	select @v_idncotiz as idcotiz;





 end

