USE [dhlalmacen]
GO
/****** Object:  StoredProcedure [almacen].[InsUpd_Activos]    Script Date: 05/31/2021 17:40:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [almacen].[InsUpd_Activos]
@ttrans varchar(1),
@idActivo int=0,
@vNombre varchar(200)='',
@vSerie varchar(25)='',
@vMarca varchar(150)='',
@vModelo  varchar(150)='',
@vDescrip varchar(1500)='',
@nStock int=1,
@vEstado char(1)='',
@vUsernm varchar(50)='',
@vHostnm varchar(50)=''

as

if (@ttrans='1') goto INSERTAR
if (@ttrans='2') goto ACTUALIZAR
if @nStock =0 BEGIN
   SET @nStock=1
   END

INSERTAR:
begin
if exists(select * from dbo.activos where Rtrim(vNombre)=Rtrim(@vNombre))
 begin
 select @idActivo as idActivo,'Err' Estado, 'Ya Existe un Activo con ese Nombre'  Msg
 end
 else
 begin
	declare @idmax int
	select @idmax=isnull(max(idActivos),0)+1 from dbo.activos

	insert into dbo.activos
	(idActivos,vNombre,vSerie,vMarca,vModelo,vDescripcion,nStock,vEstado,vUsernm,vHostnm,dFecReg,disponible)
	values
	(@idmax,@vNombre,@vSerie,@vMarca,@vModelo,@vDescrip,@nStock,@vEstado,@vUsernm,@vHostnm,GETDATE(),1)

	select @idmax as idActivo,'Ok' Estado, 'Registrado Correctamente' Msg 
END
return 
end

ACTUALIZAR:
begin
if exists(select * from dbo.activos where Rtrim(vNombre)=Rtrim(@vNombre) and idActivos!=@idActivo )
 begin
 select @idActivo as idActivo,'Err' Estado, 'Ya Existe un Activo con ese Nombre '  Msg
 end
 else
 begin

	update dbo.activos
	set
		vNombre=@vNombre,
		vSerie=@vSerie,
		vMarca=@vMarca,
		vModelo=@vModelo,
		vDescripcion=@vDescrip,
		nStock=@nStock,
		vEstado=@vEstado,
		vUsernm=@vUsernm,
		vHostnm=@vHostnm,
		dFecReg=GETDATE()
	where
		idActivos=@idActivo;
		
	select @idActivo as idActivo, 'Ok' Estado, 'Registrado Correctamente' Msg 
END
return
end