USE [dhlalmacen]
GO
/****** Object:  StoredProcedure [dbo].[eliminar_salidaActivos]    Script Date: 04/06/2021 17:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[eliminar_salidaActivos]    
@p_idsalida char(10)  
as  
Declare 
@iddetentrada int  
Declare @idmat int,
@cant int;
begin    
 --RETORNO
if @p_idsalida!='' 
begin
	DECLARE JCUR_actualizar_stockRet  
	CURSOR FOR 
	select idActivos,nCantidad from almacen.detRetornoActivos where idRetornoActivos in ( 
select idRetornoActivos from almacen.retornoActivos where idSalidaActivos =@p_idsalida and vEstado=1) and vEstado =1

	OPEN JCUR_actualizar_stockRet 
	FETCH NEXT FROM JCUR_actualizar_stockRet INTO @idmat ,@cant

	WHILE @@fetch_status = 0
		BEGIN
			UPDATE activos SET nStock=nStock-@cant, disponible=1 where idActivos=@idmat
			FETCH NEXT FROM JCUR_actualizar_stockRet INTO @idmat ,@cant
		END
	CLOSE JCUR_actualizar_stockRet
	DEALLOCATE JCUR_actualizar_stockRet

update almacen.detRetornoActivos set vEstado='0' where idRetornoActivos in ( select idRetornoActivos from almacen.retornoActivos 
where idSalidaActivos =@p_idsalida and vEstado=1) and vEstado =1;
update almacen.retornoActivos set vEstado='0' where idSalidaActivos =@p_idsalida;

end



if @p_idsalida!='' 
begin
	DECLARE JCUR_actualizar_stock  
	CURSOR FOR SELECT idActivos,ncantidad FROM almacen.detSalidaActivos where idsalidaActivo=@p_idsalida and vEstado=1
 
	OPEN JCUR_actualizar_stock 
	FETCH NEXT FROM JCUR_actualizar_stock INTO @idmat ,@cant

	WHILE @@fetch_status = 0
		BEGIN
			UPDATE activos SET nStock=nStock+@cant,disponible=1  where idActivos=@idmat
			FETCH NEXT FROM JCUR_actualizar_stock INTO @idmat ,@cant
		END
	CLOSE JCUR_actualizar_stock
	DEALLOCATE JCUR_actualizar_stock

update almacen.detSalidaActivos set vEstado='0' where idSalidaActivo=@p_idsalida and vEstado=1;
update almacen.salidaActivos set vEstado='0' where idSalidaActivo=@p_idsalida;

end
select @p_idsalida as idSalidaActivo;
 end




--select * from  almacen.detentradamat

