USE [dhlalmacen]
GO
/****** Object:  StoredProcedure [almacen].[salida_NOActivosRegresaeliminado]    Script Date: 04/06/2021 17:23:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [almacen].[salida_NOActivosRegresaeliminado]
@p_idSalidaActivos integer
as    
Declare @idprod as Integer
Declare @cant as Integer
Declare 
@iddetentrada int  
Declare @idmat int;

begin    
 
if @p_idSalidaActivos>0
begin
	DECLARE JCUR_regresarStock  
	CURSOR FOR select idActivos,ncantidad from almacen.detSalidaActivos where vEstado=5 and idSalidaActivo  =@p_idSalidaActivos
	
	OPEN JCUR_regresarStock 
	FETCH NEXT FROM JCUR_regresarStock INTO @idmat ,@cant

	WHILE @@fetch_status = 0
		BEGIN
			UPDATE activos SET nStock=nStock-@cant,disponible=0  where idActivos=@idmat
			FETCH NEXT FROM JCUR_regresarStock INTO @idmat ,@cant
		END
	CLOSE JCUR_regresarStock
	DEALLOCATE JCUR_regresarStock

	update almacen.detSalidaActivos set vEstado =1 where vEstado=5 and idSalidaActivo  =@p_idSalidaActivos;

	select 'ok' as rpta,'Correcto' as msg;

end 

end

