USE [dhlalmacen]
GO
/****** Object:  StoredProcedure [dbo].[buscar_detcotizacionOpcional]    Script Date: 05/06/2021 19:22:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER proc [dbo].[buscar_detcotizacionOpcional]
@p1_cod varchar(100) = '' --id detalle cotizacion
, @p2_idcotizacion varchar(100) = ''--id cotizacion
as
begin

if @p2_idcotizacion='' begin
set @p2_idcotizacion='a00';
end
	select distinct a.idDetCotiz,
	a.idCotiz,
	case when a.tipoPS='1' then dbo.ModeloProd(a.idProdServ) else '' end modelo,	
	REPLACE(REPLACE(REPLACE(dbo.udf_StripHTML(a.vNombrePSM),CHAR(10),''),CHAR(13),''), CHAR(9),'')
	 as vNombrePSM ,case when a.tipoPS!='1' then a.vDescrip else 
	REPLACE(REPLACE(REPLACE(dbo.udf_StripHTML(a.vDescrip),CHAR(10),''),CHAR(13),''), CHAR(9),'') end
	 as  vDescrip,
	a.nPrecUnit,
	a.nCantidad,
	a.nDescuento as nDesc,
	a.nPrecTotal,
	a.vEstado,
	a.nOrden,
	a.tipoPS,
	opcional,
	a.idProdServ,
	case when a.tipoPS='1' then dbo.docadjunto(a.idProdServ) else '' end as docadjunto
	from compras.detcotizacion a
	where a.idDetCotiz like '%' + @p1_cod + '%'  
		and a.idCotiz = @p2_idcotizacion     
		and opcional='1'
		and a.vEstado in ('1','2')
	order by a.idDetCotiz
	
	/*select * from compras.detcotizacion a
*/
end

